In [19]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

airline_df = pd.read_csv('https://raw.githubusercontent.com/wangrenfeng0/Machine-Learning-I/main/airline_passenger_satisfaction.csv') 

if 'Unnamed: 0' in airline_df:
    del airline_df['Unnamed: 0']
    
airline_df = airline_df.dropna()


Satisfaction ={'neutral or dissatisfied':0,'satisfied':1}
airline_df.satisfaction = [Satisfaction[item] for item in airline_df.satisfaction]

    
    
airline_df = pd.get_dummies(airline_df, columns=['Gender', 'customer_type','type_of_travel','customer_class'])

In [33]:
airline_df.head()

,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,...,Gender_Female,Gender_Male,customer_type_Loyal Customer,customer_type_disloyal Customer,type_of_travel_Business travel,type_of_travel_Personal Travel,customer_class_Business,customer_class_Eco,customer_class_Eco Plus,new
0,13,460,3,4,3,1,5,3,5,5,...,0,1,1,0,0,1,0,0,1,0
1,25,235,3,2,3,3,1,3,1,1,...,0,1,0,1,1,0,1,0,0,0
2,26,1142,2,2,2,2,5,5,5,5,...,1,0,1,0,1,0,1,0,0,0
3,25,562,2,5,5,5,2,2,2,2,...,1,0,1,0,1,0,1,0,0,0
4,61,214,3,3,3,3,4,5,5,3,...,0,1,1,0,1,0,1,0,0,0

In [21]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129487 entries, 0 to 129879
Data columns (total 28 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   age                                129487 non-null  int64
 1   flight_distance                    129487 non-null  int64
 2   inflight_wifi_service              129487 non-null  int64
 3   departure_arrival_time_convenient  129487 non-null  int64
 4   ease_of_online_booking             129487 non-null  int64
 5   gate_location                      129487 non-null  int64
 6   food_and_drink                     129487 non-null  int64
 7   online_boarding                    129487 non-null  int64
 8   seat_comfort                       129487 non-null  int64
 9   inflight_entertainment             129487 non-null  int64
 10  onboard_service                    129487 non-null  int64
 11  leg_room_service                   129487 non-null  int64
 12  baggage_handling                   129487 non-null  int64
 13  checkin_service                    129487 non-null  int64
 14  inflight_service                   129487 non-null  int64
 15  cleanliness                        129487 non-null  int64
 16  departure_delay_in_minutes         129487 non-null  int64
 17  arrival_delay_in_minutes           129487 non-null  float64
 18  satisfaction                       129487 non-null  int64
 19  Gender_Female                      129487 non-null  uint8
 20  Gender_Male                        129487 non-null  uint8
 21  customer_type_Loyal Customer       129487 non-null  uint8
 22  customer_type_disloyal Customer    129487 non-null  uint8
 23  type_of_travel_Business travel     129487 non-null  uint8
 24  type_of_travel_Personal Travel     129487 non-null  uint8
 25  customer_class_Business            129487 non-null  uint8
 26  customer_class_Eco                 129487 non-null  uint8
 27  customer_class_Eco Plus            129487 non-null  uint8
dtypes: float64(1), int64(18), uint8(9)
memory usage: 20.9 MB

In [22]:
airline_2 = airline_df.drop('satisfaction', axis=1).copy()

In [23]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
cv = StratifiedKFold(n_splits=10,shuffle=True, random_state=5)                     
print(cv)

StratifiedKFold(n_splits=10, random_state=5, shuffle=True)

In [98]:
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd


cls = KMeans(n_clusters=2, init='random',random_state=1)
cls.fit(airline_2)
newfeature = cls.labels_ # the labels from kmeans clustering

In [99]:
airline_df['Cluster'] = cls.labels_
aa = airline_df[['Cluster','satisfaction']].copy()
aa['records_count'] = 1
aa.groupby(['Cluster','satisfaction']).count()

                      records_count
Cluster satisfaction
0       0                     61940
        1                     32823
1       0                     11285
        1                     23439

In [114]:
from sklearn import metrics as mt
confMat = mt.confusion_matrix(airline_df['satisfaction'].values,airline_df['Cluster'].values)
acc = mt.accuracy_score(airline_df['satisfaction'],airline_df['Cluster'])

tn, fp, fn, tp = confMat.ravel()
    
specificity = tn / (tn+fp)
sensitivity = tp / (tp+fn)


print("confusion matrix\n",confMat)
print("accuracy", acc )
print('specificity', specificity)
print('sensitivity', sensitivity, '\n')

confusion matrix
 [[61940 11285]
 [32823 23439]]
accuracy 0.6593634882266174
specificity 0.8458859679071355
sensitivity 0.4166044577156873